@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    max-width: 800px;
    background-color: blanchedalmond;
    
    text-align: center;
}

.boxTitle {
    margin: 20px auto;
    max-width: 200px;
}

.title {
    /* font-weight: ;*/
    width: 180px;
    border-bottom: 2px solid blue;
}
.title span {
    color: blue;
}

.hintField {
    font-size: 1em;
    width: 245px;
    height: 40px;
    border-width: 1px;
    border-radius: 10px;

    text-align: center;
    /*margin-left: 75px;*/
}

.hintButton {
    width: 85px;
    height: 40px;
    border-width: 1px;
    border-radius: 10px;
    
    font-size: 1em;
    cursor: pointer;
}

.hintButton:hover{
    background-color: #cac6c6;
}

.gameStatus {
    width: 331px;
    padding: 2px;
    margin: 5px auto;
    
    text-align: center;
    /*border: 2px solid gray;
    border-radius: 5px;*/
    /*margin: 5px 271px;*/
}

.hints {
    max-width: 330px;
    font-size: 1.5em;
    text-align: left;
    
    display: flex;
    flex-wrap: wrap;
}

.hints p {
    width: 80px;
    height: 60px;
    background-color: rgba(0, 0, 255, 0.85);
    border-radius: 10px;
    padding: 13px;
    margin-top: 5px;

    text-align: center;
}
