@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    max-width: 800px;
    text-align: center;

    background-color: blanchedalmond;


}

.boxTitle {
    margin: 20px auto;
    max-width: 200px;
}

.title {
    /* font-weight: ;*/
    width: 180px;
    border-bottom: 2px solid blue;
}
.title span {
    
    color: blue;

}

.campoPalpite {
    width: 245px;
    height: 40px;
    font-size: 1em;

    border-width: 1px;
    border-radius: 10px;
    text-align: center;
    /*margin-left: 75px;*/
}

.envioPalpite {
    width: 85px;
    height: 40px;
    font-size: 1em;

    border-width: 1px;
    border-radius: 10px;
    cursor: pointer;
}

.envioPalpite:hover{
    background-color: #cac6c6;
}

.gameAbout {
    width: 331px;
    text-align: center;

    padding: 5px;
    /*border: 2px solid gray;*/
    border-radius: 5px;
    margin: 5px auto;

    background-color: #5c36e6;
}

.gameStatus {
    width: 331px;
    text-align: left;

    padding: 2px;
    /*border: 2px solid gray;
    border-radius: 5px;*/
    margin: 5px auto;
    /*margin: 5px 271px;*/
}

.palpites {
    max-width: 330px;
    font-size: 1.5em;
    text-align: left;
    display: flex;
}

.palpites p {
    width: 80px;
    height: 60px;
    text-align: center;

    border-radius: 10px;
    padding: 5px;
    /*display: inline-block;*/

    background-color: blue;

}