@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;700&family=Tektur:wght@500&display=swap');

:root {
    --text-font: 'Sora', sans-serif;
    --app-title-font: 'Tektur', sans-serif;
}
* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: var(--text-font);
}

body {
    background-color: rgb(26, 31, 44);
}

html {
    /* fontes */
    color: white;
}

.hints {
    /* width: 400px; */
    min-width: 20vw;
    max-width: 30vw;
    font-size: 1.5em;
    margin: 1rem auto;
}

.app-header-button {
    color: white;
    background-color: rgb(57, 63, 90);
    border: 1px solid white;
    border-radius: 5px;
    font-size: .8em;
    padding: 5px;
}

button:hover {
    background-color: rgb(80, 83, 100);
    cursor: pointer;
}

.app-logo {
    font-family: var(--app-title-font);
    font-weight: 400;
    text-transform: uppercase;
    flex-grow: 1;
    text-align: center;
    margin-left: 32px;
}

.icon-help {
    font-size: inherit !important;
}

.icon-help:hover {
    background-color: rgba(71, 68, 68, 0.498);
    border-radius: 50%;
    vertical-align: middle;
    font-size: inherit;
    cursor: pointer;
}

nav {
    font-size: 3vh;
    margin: 1vh auto 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 20vw;
    
}

.app-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.input-text-field {
    font-size: 1.1em;
    /* width: 320px; */
    width: 20vw;
    /* height: 50px; */
    height: 6vh;
    background-color: rgb(36, 43, 61);;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
}

.box {
    width: 100%;
    background-color: rgb(39 47 67);
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
    color: white;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-help-modal {
    font-family: var(--text-font);
    text-align: justify;
    border: none;
    margin: auto;
    width: 35vw;
    padding: 1.5vw;
    border-radius: 1vw;
}

.modal-header {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
}

.app-help-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.493);
}

.modal-close-button {
    color: black;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: .9em;
    padding: 0.7vw;
}

.app-restart-button {
    color: black;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: .9em;
    padding: 0.7vw;
    text-transform: uppercase;
}
